name: ci
# Continuous integration action which will fire on any push to any branch.

on: [push]

env:
  DOTNET_VERSION: 3.1.x
  SOLUTION_PATH: ./src/GuardAgainstLib.sln
  CONFIGURATION: Release

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: log github context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - uses: actions/checkout@v2
      - name: setup dotnet core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: clean
        run: dotnet clean
          --configuration ${{ env.CONFIGURATION }}
          --nologo
          ${{ env.SOLUTION_PATH }}

      - name: build
        run: dotnet build
          --configuration ${{ env.CONFIGURATION }}
          --no-incremental
          --nologo
          ${{ env.SOLUTION_PATH }}

      - name: test
        run: dotnet test
          --configuration ${{ env.CONFIGURATION }}
          --no-restore
          --no-build
          --nologo
          ${{ env.SOLUTION_PATH }}
